<div class="container mt-4">
  <h1>User Management</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.role.capitalize %></td>
          <td>
            <% if current_user.admin? && current_user != user %>
              <div class="btn-group">
                <%= button_to 'Make Admin', make_admin_user_path(user), method: :patch, class: 'btn btn-sm btn-primary' %>
                <%= button_to 'Make Permitted', make_permitted_user_path(user), method: :patch, class: 'btn btn-sm btn-secondary mx-2' %>
                <%= button_to 'Revoke Permissions', revoke_permissions_user_path(user), method: :patch, class: 'btn btn-sm btn-danger' %>
              </div>
            <%else%>
            You are not permitted to change this role
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
